#login-form {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 75px;
}

.input-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}