#focus-container {
    width: 100%;
}

#focus-container div {
    width: 100%;
}

#inner-focus-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#focus-head {
    width: 750px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listing-size {
    font-size: 25pt;
}

#align-label {
    position: relative;
    top: -35pt;
    left: 2ch;
    display: flex;
    direction: row;
    width: 100%;
    justify-content: space-between;
}

#item-price {
    position: relative;
    right: 2ch;
}

#reviews {
    width: 100%;
    padding-top: 20px;
}


#item-photo {
    width: 750px;
    height: 250px;
    object-fit: cover;
}
@media only screen and (max-width: 750px) {
    #item-photo {
        width: 100%;
        height: 250px;
        object-fit: cover;

    }

    div#focus-head {
        width: 100% !important;
    }
}