

#itemview {
    width: 200px;
}

#ph-image {
    border-radius: 20px;
    max-width: 200px;
}

#align-label {
    position: relative;
    top: -40px;
    left: 10px;
    display: flex;
    direction: row;
    width: 180px;
    justify-content: space-between;
}