div.checkbox {
    display:flex;
    flex-direction: row;
}

div.slider {
    display: flex;
    flex-direction: column;
}

div#option {
    width: 500px;
    margin-bottom: 10px;
    justify-content: space-between;
}

#info-bind {
    display: flex;
    flex-direction: column;
}

div.checkbox > #info-bind {
    margin-right: 100px;
}

div.slider > #info-bind {
    margin-right: 100px;
}


div.slider > input[type="range"] {
    width: 500px;
}

p#setting-desc {
    font-size: 8pt;
}