#shopview-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

#shopviewport {
    display: flex;
    direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#shopviewport > * {
    margin: 15px;
}

#additem-button {
    position: fixed;
    width: 300px;
    height: 65px;
    top: calc( 97vh - 65px);
    left: calc(50% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#additem-button > p {
    font-size: 23pt;
    padding-bottom: 2px;
}

#button-displace {
    height: 80px;
}