#navbar-top {
    width: 100%;
    height: 75px;
    background-color: yellow;
    position: fixed;
}

#navbar-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#navbar-elements > * {
    margin: 15px;
}